.info_base {
  padding: 40rpx 32rpx;
  background: #ffffff;
}
.info_base_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  .info_base_head_wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    .info_base_head_name {
      color: #000000;
      font-size: 30rpx;
      font-weight: bold;
      line-height: 34rpx;
    }
    .info_base_head_desc {
      margin-top: 12rpx;
      color: #999999;
      font-size: 28rpx;
      line-height: 32rpx;
    }
  }
  .info_base_head_star {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    .info_base_head_star_txt {
      color: #ab2b2b;
      font-size: 32rpx;
      font-weight: bold;
      line-height: 32rpx;
    }
    .info_base_head_star_link {
      margin-top: 12rpx;
      color: #999999;
      font-size: 24rpx;
      line-height: 24rpx;
    }
  }
}

.info_base_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 48rpx;
  .info_base_price_txt {
    color: #ab2b2b;
    font-size: 38rpx;
    line-height: 38rpx;
  }
  .info_base_price_origin {
    margin-left: 18rpx;
    padding-top: 10rpx;
    color: #999999;
    font-size: 24rpx;
    line-height: 24rpx;
  }
}

.info_base_tag {
  display: flex;
  flex-direction: row;
  margin-top: 28rpx;
}
