@import "~taro-ui/dist/style/components/flex.scss";
.user_content-order_img {
  width: 50px;
  height: 50px;
  margin: 16px auto;
}
.user_content-order_name {
  line-height: 24rpx;
  font-size: 24rpx;
  padding-bottom: 16px;
}
