@import "~taro-ui/dist/style/index.scss";

// 自定义全局样式
// 边距距离统一按8倍数来
.margin-right-small {
  margin-right: 16px;
}
.margin-right-df {
  margin-right: 24px;
}
.margin-right-lg {
  margin-right: 48px;
}
